* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 75%;
    margin: auto;
    background-color: #004d99;
    color: pink;
    font-family: monospace;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}

nav h2 {
    color: white;
    margin-left: 1rem;
}
nav li {
    display: inline-flex;
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: greenyellow;
}

#summary {
    display: flex;
}

#summary-text p{
    margin-bottom: 1rem;
}

#summary img {
    max-width: 40%;
    margin-left: 2rem;
    border-radius: 10px;
}