:root {
    --primary-color: #004d99;
    --secondary-color: pink;
    --accent-color: lightgreen;
    --text-color: white;
    --font-family: monospace;

    --fungeons-header-color: orangered;
    --fungeons-text-color: pink;

    --fotomatic-header-color: lightgreen;
    --fotomatic-text-color: white;

    --tea-cozy-header-color: tan;
    --tea-cozy-text-color: lightyellow;

    --contact-accent-color: lightgreen;
    --contact-focus-color: pink;

    --submit-button-color: black;
}

.alt-color-mode {
    --primary-color: pink;
    --secondary-color: #004d99;
    --accent-color: white;
    --text-color: green;
    --font-family: monospace;

    --nav-hover-color: lightgreen;

    --fungeons-header-color: blue;
    --fungeons-text-color: pink;

    --fotomatic-header-color: black;
    --fotomatic-text-color: gray;

    --tea-cozy-header-color: goldenrod;
    --tea-cozy-text-color: brown;

    --contact-accent-color: #004d99;
    --contact-focus-color: lightgreen;

    --submit-button-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 15rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}

nav h2 {
    color: var(--text-color);

}
nav li {
    display: inline-flex;
    padding: 0 1rem;
}

#koby-jones {
    color: var(--text-color);
}

#koby-jones:hover {
    color: var(--accent-color);
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
}

nav a:hover {
    color: var(--nav-hover-color);
}

@media only screen and (max-width: 1200px) {
    body {
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 850px) {
    nav li {
        display: flex;
        justify-content: center;
        padding: 0.5rem 0;
    }
}

#mobile-summary {
    display: none;
}

#summary{
    display: flex;
    margin-top: 10rem;
}

#summary-text p, #mobile-summary p {
    margin-bottom: 2rem;
}

#summary img, #mobile-summary img {
    max-width: 40%;
    margin-left: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#summary img:hover, #mobile-summary img:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 1640px) {
    #summary {
        display: none;
    }

    #mobile-summary {
        display: block;
        margin-top: 3rem;
        text-align: center;
    }

    #mobile-summary img {
        max-width: 80%;
        margin: 3rem auto;
    }
}

#projects, #mobile-projects, #skills, #contact {
    margin-top: 10rem;
}

#projects h1, #mobile-projects h1, #skills h1, #contact h1 {
    margin-bottom: 5rem;
    text-align: center;
}

#mobile-projects {
    display: none;
}

#fungeons-and-dragons, #fotomatic, #tea-cozy {
    display: flex;
    gap: 10rem;
    justify-content:  center;
    align-items: center;
    margin-bottom: 5rem;
}

#fungeons-and-dragons img, #fotomatic img, #tea-cozy img {
    max-width: 100%;
    border-radius: 10px;
}

#projects img, #mobile-projects img {
    transition: transform 0.3s ease;
}

#projects img:hover, #mobile-projects img:hover {
    transform: scale(1.05);
}

#fungeons-text{
    width: 100%;
}

#fungeons-and-dragons {
    gap: 5rem;
}

#fungeons-and-dragons h2, #fotomatic h2, #tea-cozy h2 {
    margin-bottom: 1rem;
}
#fungeons-and-dragons h2 {
    color: var(--fungeons-header-color);
}

#fotomatic h2 {
    color: var(--fotomatic-header-color);
}

#fotomatic p {
    color: var(--fotomatic-text-color);
}

#tea-cozy-text {
    width: 100%;
}

#tea-cozy h2 {
    color: var(--tea-cozy-header-color);
}

#tea-cozy p {
    color: var(--tea-cozy-text-color);
}

@media only screen and (max-width: 1200px) {
    #mobile-projects {
        display: block;
        margin-top: 3rem;
    }

    #projects {
        display: none;
    }

    #projects h1 {
        text-align: center;
    }

    #fungeons-and-dragons, #fotomatic, #tea-cozy {
        flex-direction: column;
        gap: 2rem;
    }

    #front-end, #back-end, #version-control {
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0;
    }

    #fungeons-text, #fotomatic-text, #tea-cozy-text {
        text-align: center;
    }
}

#skills img {
    transition: transform 0.2s ease;
}

#skills img:hover {
    transform: scale(1.4);
}

#tech-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem auto; 
    max-width: 50%;
}

#front-end, #back-end, #version-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem; 
    width: 100%;
}

.tech-icons-container {
    display: flex;
}

.tech-icons-container img {
    height: 4rem;
    padding: 0 1rem;
}

@media only screen and (max-width: 1200px) {
    #skills {
        margin-top: 3rem;
    }

    #tech-icons {
        max-width: 90%;
    }

    #front-end, #back-end, #version-control {
        flex-direction: column;
        margin: 4rem 0;
    }

    #back-end img {
        align-items: center;
    }
}

#contact h1 {
    margin-bottom: 3rem;
}

#contact p {
    text-align: center;
}

#contact a {
    color: var(--accent-color);
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-input-fields {
    width: 30%;
    height: 2rem;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 1rem;
}

.contact-input-fields:hover {
    border: 3px solid var(--contact-accent-color);
}

.contact-input-fields:focus {
    border: 3px solid var(--contact-focus-color);
}

#message {
    height: 10rem;
    resize: none;
}

#submit-btn {
    margin-top: 1rem;
    font-size: 1.25rem;
    width: 10%;
    height: 2.5rem;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--submit-button-color);
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #contact {
        margin-top: 3rem;
    }

    .contact-input-fields {
        width: 80%;
    }

    #submit-btn {
        width: 25%;
    }
}