* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 75%;
    margin: auto;
    background-color: #004d99;
    color: pink;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}

nav h2 {
    color: white;
    margin-left: 1rem;
}
nav li {
    display: inline-flex;
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: greenyellow;
}

#summary {
    display: flex;
    margin-top: 10rem;
}

#summary-text p{
    margin-bottom: 2rem;
}

#summary img {
    max-width: 40%;
    margin-left: 2rem;
    border-radius: 10px;
}

#projects, #skills, #contact {
    margin-top: 10rem;
}

#projects h1, #skills h1, #contact h1 {
    margin-bottom: 5rem;
    text-align: center;
}

#fungeons-and-dragons, #fotomatic, #tea-cozy {
    display: flex;
    gap: 10rem;
    justify-content:  center;
    align-items: center;
    margin-bottom: 5rem;
}

#fungeons-and-dragons img, #fotomatic img, #tea-cozy img {
    max-width: 100%;
    border-radius: 10px;
}

#fungeons-text{
    width: 100%;
}

#fungeons-and-dragons {
    gap: 5rem;
}

#fungeons-and-dragons h2, #fotomatic h2, #tea-cozy h2 {
    margin-bottom: 1rem;
}
#fungeons-and-dragons h2 {
    color: orangered;
}

#fotomatic h2 {
    color: white;
}

#fotomatic p {
    color: lightgreen;
}

#tea-cozy h2 {
    color: tan;
}

#tea-cozy p {
    color: lightyellow;
}

#tech-icons {
    display: flex;
    flex-direction: column;
}

#front-end, #back-end, #version-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 35rem;
}

.tech-icon-container{
    display: flex;
    gap: 1rem;
    min-width: 10%;
}

#contact h1 {
    margin-bottom: 3rem;
}

#contact p {
    text-align: center;
}

#contact a {
    color: lightgreen;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-input-fields {
    width: 30%;
    height: 2rem;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 1rem;
}

.contact-input-fields:focus {
    border: 3px solid pink;
}

#message {
    height: 10rem;
    resize: none;
}

#submit-btn {
    margin-top: 1rem;
    font-size: 1.25rem;
    width: 10%;
    height: 2.5rem;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: pink;
    color: black;
    font-weight: bold;
    cursor: pointer;
}